body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

header {
  background-color: #007bff;
  color: white;
  padding: 20px;
  text-align: center;
}

main {
  width: 80%;
  margin: 20px auto;
  background-color: white;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f8f8f8;
}

.button-common {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 20px auto;
  text-align: center;
}

.button-common:hover {
  background-color: #45a049;
}

.checkout-container {
  text-align: right;
}

footer {
  text-align: center;
  padding: 20px 0;
  background-color: #f1f1f1;
  color: #666;
  font-size: 14px;
}
