body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}
.container {
  width: 80%;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
h2,
h3 {
  color: #333;
}
.info-section,
.booking-section {
  margin-top: 20px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}
.edit-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  font-size: 14px;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  margin-top: 10px;
}
.edit-button:hover {
  background-color: #0056b3;
}
input[type="button"] {
  padding: 10px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

#cancelButton {
  background-color: #dc3545; /* 취소 버튼의 배경색 */
}

#cancelButton:hover {
  background-color: #c82333; /* 취소 버튼의 호버 효과 */
}
