/* 전체 페이지 기본 스타일 설정 */
body {
  font-family: "Roboto", sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  color: #333;
}

header {
  background-color: #007bff;
  color: white;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 16px;
  padding: 8px 16px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

main {
  width: 90%;
  max-width: 800px;
  margin: 40px auto;
  background: white;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.poster img {
  width: 100%;
  max-width: 400px;
  height: auto;
  display: block;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin: 15px 0;
  text-align: left;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"],
select {
  width: 100%;
  padding: 12px 20px;
  margin-top: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* 윈도우와 테두리 포함한 전체 너비 */
}

.submit-button {
  width: 100%;
  background-color: #28a745;
  color: white;
  padding: 16px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.submit-button:hover {
  background-color: #218838;
}

footer {
  text-align: center;
  padding: 20px 0;
  background-color: #f1f1f1;
  color: #666;
  font-size: 14px;
}
